@import '@auth0/web-ui-components-react/styles';
@import 'tailwindcss';

@config "../tailwind.config.ts";

  :root {
    --background: hsl(240 5% 96%);
    --foreground: hsl(0 0% 4%);

    --card: hsl(0 0% 98%);
    --card-foreground: hsl(0 0% 4%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 4%);

    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(240 6% 90%);
    --secondary-foreground: hsl(0 0% 9%);

    --muted: hsl(240 6% 90%);
    --muted-foreground: hsl(0 0% 40%);

    --accent: hsl(240 6% 84%);
    --accent-foreground: hsl(0 0% 8%);

    --destructive: hsl(8, 100%, 95%);
    --destructive-foreground: hsl(1, 79%, 54%);

    --hover: hsl(240 6% 96%);
    --border: hsl(240 6% 96%);
    --input: hsl(0 0% 100%);
    --ring: hsl(0 0% 4%);

    --field: hsl(0 0% 100%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(240 6% 10%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(240 6% 6%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 4%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(240 6% 20%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(240 6% 20%);
    --muted-foreground: hsl(0 0% 56%);

    --accent: hsl(240 5% 32%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(8, 100%, 95%);
    --destructive-foreground: hsl(1, 79%, 54%);

    --hover: hsl(240 6% 10%);
    --border: hsl(240 4% 10%);
    --input: hsl(240 5% 26%);
    --ring: hsl(0 0% 83.1%);

    --field: hsl(0 0% 0%);
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}